/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';

@media (max-width: 768px) {
	.p-toast {
		width: calc(100vw - 1rem) !important;
		left: 0.5rem !important;
		right: 0.5rem !important;
	}
}
